body{
    background-color: rgb(53, 53, 255);
}

header{
    position: fixed;
}

.container{
    display: flex;
    justify-content: center;
   align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80px;
    box-shadow: 0 0 10px 0;
}

div.{

}

div.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

img{
    width: 200px;
}

div.links li{
    display: inline;
    margin: 25px;
}

div.login li{
    display: inline;
    margin: 15px;
}

a{ 
    font-size: 20px;
    color: rgb(0, 119, 255);
    font-family: 'Quicksand', sans-serif;
    font-weight:500;
}

a:hover{
    color: rgb(0, 88, 188);
}